<html>
  <body>
    <h1>Hello <%= user.name %>,</h1>
    <p>This is your custom email template for category 1!</p>
    <p>Email: <%= user.email %></p>
    <img src="https://trackingpixel.onrender.com/tracking-pixel?name=<%= user.name %>&email=<%= user.email %>" alt="">
  </body>
</html>
