<html>
  <body>
    <h1>Hello <%= user.name %>,</h1>
    <p>This is your custom email template for category 3!</p>
    <p>Email: <%= user.email %></p>
    <img src="https://excel-service-xt.onrender.com/pixel/tracking-pixel?name=<%= user.name %>&email=<%= user.email %>" alt="">
  </body>
</html>
